body{
    background-color: rgb(0, 0, 0);
    font-size: 35px;
    color: ghostwhite;
    font-family: "Arial Black" sans-serif;
}
    
/* Style header */

.header{
    padding: 75px 5px 100px 5px;
    margin: 0px 15px 0px 15px;
    background-image: url(img/cult.jpg);
}


.navbar{
    position: static;
    overflow: hidden;
    margin: 0px 15px 0px 15px;
    background-image: url(img/cult.jpg);
}

.navbar a{
    display: block;
    text-align: center;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: ghostwhite;
    float: left;
}

.navbar a:hover {
    background-color: ghostwhite;
    color: black;
  }

/* Style content */

.wiki{
    color: ghostwhite;
    display: block;
    text-align: center;
    margin: 15px 300px 50px 300px;
}

.wiki h1{
    color: rgb(105, 48, 86);
    animation-duration: 60s;
    animation-name: sb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes sb{
    0% {color: rgb(105, 48, 86);} 
    20% {color: crimson}
    40% {color: midnightblue}
    60% {color: olivedrab}
    80% {color: slategrey}
    100% {color: rgb(105, 48, 86);}
}

.wiki img{
   width: 50%;
   height: 50%;
}

.wiki a{
    color: ghostwhite;
}

/* Style music */

.music{
    margin: 10px 5px 10px 225px;
}


.listen{
    border: rgb(221, 217, 211) solid 5px;
    border-style: outset;
    float: right;
    padding: 10px 0px 25px 0px;
    margin: 30px 14px 0px 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(29, 25, 27);
}

.listen img:hover{
    background-color: rgb(105, 48, 86);
}

.apple{
    width: 200px;
    height: 200px;
}

.spotify{
    width: 200px;
    height: 200px;
}

.soundcloud{
    width: 200px;
    height: 200px;
}

.youtube{
    width: 227px;
    height: 203px;
}

.album1{
    list-style-image: url(img/SBalbums/graygrey.jpg);
}

.album2{
    list-style-image: url(img/SBalbums/7th\ or\ st.\ tammany.jpg);
}

.album3{
    list-style-image: url(img/SBalbums/yungdeathlillife.jpg);
}
.album4{
    list-style-image: url(img/SBalbums/high\ tide\ in\ the\ snakes\ nest.jpg);
}
.album5{
    list-style-image: url(img/SBalbums/my\ liver\ will\ handle\ what\ my\ heart\ cant.jpg);
}
.album6{
    list-style-image: url(img/SBalbums/now\ the\ moons\ rising.jpg);
}
.album7{
    list-style-image: url(img/SBalbums/dark\ side\ of\ the\ clouds.jpg); 
}
.album8{
    list-style-image: url(img/SBalbums/grey\ sheep\ 2.jpg);
}
.album9{
    list-style-image: url(img/SBalbums/eternal\ grey.jpg);
}
.album10{
    list-style-image: url(img/SBalbums/I\ want\ to\ die\ in\ new\ orleans.jpg);
}
.album11{
    list-style-image: url(img/SBalbums/stop\ staring\ at\ shadows.jpg);
}

.ep1{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 1.jpg);
}

.ep2{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 2.jpg);
}

.ep3{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 3.jpg);
}

.ep4{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 4.jpg);
}

.ep5{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 5.jpg);
}

.ep6{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 6.jpg);
}

.ep7{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 7.jpg);
}

.ep8{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 8.jpg);
}

.ep9{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 9.jpg);
}

.ep10{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 10.jpg);
}

.ep11{
    list-style-image: url(img/SBEP/black\ suicide.jpg);
}

.ep12{
    list-style-image: url(img/SBEP/black\ suicide\ side\ b.jpg);
}

.ep13{
    list-style-image: url(img/SBEP/greygods.jpg);
}

.ep14{
    list-style-image: url(img/SBEP/grey\ sheep\ 1.jpg);
}

.ep15{
    list-style-image: url(img/SBEP/i\ no\ longer\ fear\ the\ razor\ guarding\ my\ heel.jpg);
}

.ep16{
    list-style-image: url(img/SBEP/black\ suicide\ side\ c.jpg);
}

.ep17{
    list-style-image: url(img/SBEP/south\ side\ suicide.jpg);
}

.ep18{
    list-style-image: url(img/SBEP/i\ no\ longer\ fear\ the\ razor\ guarding\ my\ heel\ 2.jpg);
}

.ep19{
    list-style-image: url(img/SBEP/greygodsii.jpg);
}

.ep20{
    list-style-image: url(img/SBEP/dirtynastysuicide.jpg);
}

.ep21{
    list-style-image: url(img/SBEP/radical\ suicide.jpg);
}

.ep22{
    list-style-image: url(img/SBEP/i\ no\ longer\ fear\ the\ razor\ guarding\ my\ heel\ 3.jpg);
}

.ep23{
    list-style-image: url(img/SBEP/dirtiernastiersuicide.jpg);
}

.ep24{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 11.jpg);
}

.ep25{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 12.jpg);
}

.ep26{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 13.jpg);
}

.ep27{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 14.jpg);
}

.ep28{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 15.jpg);
}

.ep29{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 16.jpg);
}

.ep30{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 17.jpg);
}

.ep31{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 18.jpg);
}

.ep32{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 19.jpg);
}

.ep33{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 20.jpg);
}

.ep34{
    list-style-image: url(img/SBEP/live\ fast\ die\ whenever.jpg);
}

.single1{
    list-style-image: url(img/SBalbums/now\ the\ moons\ rising.jpg);
}

.single2{
    list-style-image: url(img/SBsingles/fuckthepopulation.jpg);
}

.single3{
    list-style-image: url(img/SBEP/kill\ yourself\ part\ 20.jpg);
}

.single4{
    list-style-image: url(img/SBsingles/fuckallofyou2k18.jpg);
}

.single5{
    list-style-image: url(img/SBsingles/either\ hated\ or\ ignored.png);
}

.single6{
    list-style-image: url(img/SBsingles/joan\ of\ arc.jpg);
}

.single7{
    list-style-image: url(img/SBalbums/I\ want\ to\ die\ in\ new\ orleans.jpg);
}

.single8{
    list-style-image: url(img/SBalbums/I\ want\ to\ die\ in\ new\ orleans.jpg);
}

.single9{
    list-style-image: url(img/SBsingles/hung\ up\ on\ the\ come\ up.jpg);
}

.single10{
    list-style-image: url(img/SBsingles/scrape.jpg);
}

.single11{
    list-style-image: url(img/SBsingles/nothing\ left.jpg);
}

.single12{
    list-style-image: url(img/SBsingles/aliens\ are\ ghosts.jpg);
}

.single13{
    list-style-image: url(img/SBalbums/stop\ staring\ at\ shadows.jpg);
}

.single14{
    list-style-image: url(img/SBalbums/stop\ staring\ at\ shadows.jpg);
}